// src/styles/components/post.scss
@import "../theme/core.css";
.entry-content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px;
  }
  h2 {
    font-size: 19px;
    text-align: start;
    font-weight: 600;
  }

  h2 strong {
    border-bottom: 3px double #53b7c3a6;
  }

  h3 {
    font-size: 17px;
    text-align: start;
    font-weight: 500;
  }

  p {
    margin-bottom: 12px;
  }

  ol,
  ul {
    list-style: auto;
    margin-left: 20px;
    margin-bottom: 12px;
  }

  img {
    box-shadow: var(--box-shadow-sm);
    border-radius: var(--border-radius-md);
    margin-top: 12px;
  }
}

.toc-wrapper {
  .toc-content {
    ul li {
      margin-bottom: 5px;
    }
    ul li a:hover {
      color: var(--color-primary-500);
    }
  }
}
