/* Custom positioning for mobile */
@media (max-width: 768px) {
  .dynamic-content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header-layout-category {
    padding: 0px 23px;
  }
  .content-detail {
    padding: 0px;
  }

  footer h2 {
    font-size: var(--font-size-4xl);
    line-height: var(--font-size-4xl-line-height);
  }
}
